h4,
h2 {
    background: -webkit-linear-gradient(#FFCF88, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

#about_wrapper {
    width: 85vw;
}